@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Floating UI */
    --order-floating: 106;
    /* --floating-ui-bg: theme(colors.bg / 60%); */
    /* chrome lck color bug workaround, should be removed when bug fixed */
    --floating-ui-bg: theme(colors.white / 90%);
    --floating-ui-backdrop: saturate(2) blur(40px);
    /* --floating-ui-shadow: 0 0 0 0.5px theme(colors.black / 40%), 0 20px 60px 0 theme(colors.ac / 20%); */
    --floating-ui-shadow: 0 0 0 0.5px theme(colors.black / 40%),
      0 20px 60px 0 color-mix(in oklch, theme(colors.violet.600 / 20%) 60%, theme(colors.black / 20%));
    --floating-ui-border: 1px solid theme(colors.white / 40%);

    @media (prefers-color-scheme: dark) {
      --floating-ui-bg: theme(colors.neutral.800 / 20%);
      --floating-ui-backdrop: brightness(0.5) saturate(2) contrast(0.9) blur(40px);
      --floating-ui-shadow: 0 0 0 0.5px theme(colors.black / 80%), 0 20px 60px 0 theme(colors.black / 60%);
      --floating-ui-border: 1px solid theme(colors.white / 20%);
    }

    .floating {
      background: var(--floating-ui-bg);
      box-shadow: var(--floating-ui-shadow);
      border: var(--floating-ui-border);
      /* width: max-content; */
      -webkit-backdrop-filter: var(--floating-ui-backdrop);
      backdrop-filter: var(--floating-ui-backdrop);
      outline: none;
      z-index: var(--z-index, var(--order-floating));
    }
  }
}

a {
  --color: theme('colors.violet.700');
  --color-hover: theme('colors.violet.800');

  color: var(--color);
  font-weight: bold;

  &:hover,
  &:focus {
    color: var(--color-hover);
  }

  @media (prefers-color-scheme: dark) {
    --color: theme('colors.violet.400');
    --color-hover: theme('colors.violet.300');
  }
}

input {
  outline: none;
}

hr {
  --color: theme('colors.gray.200');
  border-color: var(--color);

  @media (prefers-color-scheme: dark) {
    --color: theme('colors.neutral.700');
  }
}
